

.container{
   
  width: 1200px;
  margin: auto;
  background: rgb(76, 166, 184);
    height: 2000px;
}

.image{
    width:500px;
    height: 500px;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
}

.block{
    width: 600px;
  margin: auto;
  background: rgb(172, 76, 184);
  padding-bottom: 10px;
  
}
